/* Main Section */
.container {
    max-width: 330px;
}
/* Title Section */
.title {
    padding-top: 70px;
    text-align: center;
}
/* h1 Tag */
h1 {
    font-size: 32px;
    font-weight: lighter;
    padding-bottom: 10px;
}
/* Form Section */
form {
    margin: auto;
    padding: 20px;
    font-size: 14px;
}
/* Right Floating */
.right {
    float: right;
}
/* a Tag */
a {
    color: 58a6ff;
    text-decoration: none;
}
/* Button */
.button {
    background-color: 238636;
    color: ffffff;
    text-align: center;
    width: 100%;
}
/* New to GitHub? Section */
.newtogit {
    text-align: center;
}
/* p Tag */
p {
    padding: 15px;
}
/* li Tag */
li {
    display: inline-block;
    font-size: 12px;
    padding: 5px;
}
/* Contact Color */
.contact {
    color: black;
}